#banner{
	        background: url(../IMG/About/banner.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			text-align: center;
			padding: 24px 0;
}
#banner h1{
	 color: rgb(255, 255, 255);
	 font-weight: 700;
	 font-size: 48px;

}

/* <-----------welcome section---------> */

#welcome{
	padding: 24px 160px;
}
#welcome h2{
	font-size: 32px;
	
	color: #F36827;

}

.welcome-section{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.welcome-section1{}
.welcome-section1 p{
	font-size: 24px;
	font-weight: 100;
	opacity: 0.8;
}
.welcome-section2 img{
	height: 250px;
}

/* <------------Responsive-------------------> */

@media screen and (max-width: 980px)

{
	#welcome{
		padding: 20px 80px;
	}

}

@media screen and (max-width: 760px)
{
	#banner h1{
		
		font-size: 30px;
   
   }
	#welcome{
		padding: 16px 60px;
		text-align: center;
	
	}
	#welcome h2{
		font-size: 24px;
	}

	.welcome-section{
	font-size: 14px;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	
     }
	 .welcome-section2 img{
		height: 200px;
	}

}