* {
    margin: 0;
    padding: 0;
}

nav {
    background-image: linear-gradient(to right, rgb(68, 71, 144, 0.6), rgb(220, 227, 245, 0.6), rgb(68, 71, 144, 0.6));
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#logo_name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    margin-left: 104px;
}

#logo_name p {
    font-weight: 800;
    font-size: 24px;
    color: #2F3F60;
    margin-left: 8px;
}

#logo_name img {
    height: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#menu_list {
    /* display: flex;
    flex-direction: row; */
    text-align: center;
    margin-right: 104px;
    text-align: center;
    align-items: center;
}

#menu_list ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu_list ul li {
    list-style: none;
    cursor: pointer;
}

#menu_list ul li a {
    text-decoration: none;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 18px;
    color: #2F3F60;
}

#menu_list ul li i {
    color: #2F3F60;
    margin-left: -8px;
    padding-right: 8px;
    cursor: pointer;
    position: relative;
    bottom: -2px;
}

#menu_list ul li a:hover {
    color: #F36827;
}


/* #menu_list button {} */

.btn {
    outline: none;
    height: 35px;
    width: 100px;
    background-color: #F36827;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}

#Nav_btn {
    margin-left: 32px;
}


/* navbar DropDown list */

.Drop_down_list {
    width: 200px;
    background-color: #9b9bb6;
    color: white;
    position: absolute;
    left: 864px;
    z-index: 1;
}

#drop {
    display: none;
}

.Drop_down_list hr {
    color: white;
    background-color: white;
    border: 1px solid white;
}

.list-one-one {
    display: flex;
    flex-direction: row;
    padding: 16px;
    align-items: center;
}

.list-one-one:hover {
    background-color: #F36827;
    cursor: pointer;
}

.list-one-one p {}

.list-one-one i {
    margin-left: 8px;
    margin-top: 4px;
}

.list-one-one a {
    color: white;
}