* {
    padding: 0;
    margin: 0;
}

.hero-section {
    background-color: #2F3F60;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 480px;
}

.hero-section img {
    height: 360px;
}


/* card list css */

#card-list {
    display: flex;
    flex-direction: row;
    /* border: 4px solid forestgreen; */
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: relative;
    top: -120px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    /* border: 4px solid rgb(233, 33, 6); */
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 236px;
    margin: 4px 16px;
    background-color: rgb(255, 255, 255);
    /* margin: 0px auto; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 4px;
    padding: 4px;
}

.card img {
    height: 60px;
}

.card h3 {
    color: #2F3F60;
    margin: 8px 0px;
    font-size: 16px;
}

.card p {
    color: #2F3F60;
    opacity: 0.9;
    font-size: 12px;
}

#about {
    display: flex;
    flex-direction: row;
    padding: 72px 104px;
    background-color: #D0D2DB;
    align-items: center;
}

#about-img {}

#about-img img {
    height: 240px;
}

#about-text {
    padding: 12px 48px;
    margin-left: 48px;
}

#about-text h3 {
    font-size: 34px;
    color: #2F3F60;
}

#about-text p {
    color: #2F3F60;
    font-size: 18px;
    margin-top: 12px;
}

#A-numbers {
    display: flex;
    flex-direction: row;
    background-color: #2F3F60;
    color: white;
    padding: 8px 16px;
    width: 260px;
    margin-top: 16px;
    border-radius: 4px;
}

.A-number-all {
    margin: 0px 8px;
    text-align: center;
}

.A-number-all h4 {
    color: #D0D2DB;
    font-size: 12px;
}

.A-number-all h5 {
    color: #D0D2DB;
    font-size: 16px;
}

#about hr {
    outline: none;
    border: 1px solid #D0D2DB;
    background-color: #D0D2DB;
}

#about-text button {
    border-radius: 0px;
    margin-top: 16px;
}

#about-text span {
    padding: 6px 8px;
    border: 2px solid #F36827;
}

#about-text span i {
    color: #F36827;
    height: 4px;
}


/* top services section */

#service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}

#service-text {
    border-bottom: 4px solid #2F3F60;
    margin-top: 48px;
    margin-bottom: 24px;
}

#service-text h2 {
    color: #2F3F60;
    padding: 8px;
}

#top-service {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.services {
    height: 230px;
    width: 240px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.services img {
    height: 150px;
}

.services h3 {
    color: #2F3F60;
    margin-top: 16px;
    font-size: 22px;
}


/* why us section */

#why-us {
    background-color: #D0D2DB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#why-us-header {
    border-bottom: 3px solid #2F3F60;
    margin-top: 48px;
    margin-bottom: 24px;
    display: flex;
}

#why-us-header h2 {
    color: #253672;
}

#why-us-continer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 200px;
}

.ws-continer1 {
    margin-right: 72px;
}

.ws-continer1-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    /* border: 2px solid yellow; */
    padding: 8px;
    margin: 16px 0px;
    height: 80px;
    width: 360px;
    justify-content: right;
}

.ws-items-text {}

.ws-items-text h3 {
    color: #2F3F60;
}

.ws-items-text p {
    color: #2F3F60;
}

.item-svg {}

.ws-continer1 .item-svg img {
    margin-left: 16px;
}

.ws-continer2 {
    margin-left: 72px;
}

.ws-continer2-items {
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    /* border: 2px solid red; */
    padding: 8px;
    align-items: center;
    margin: 16px 0px;
    height: 80px;
    width: 360px;
    justify-content: left;
}

.ws-continer2 .item-svg img {
    margin-right: 16px;
}


/* <<--------------------Location section-------> */

#location {
    margin: 72px 104px;
    text-align: center;
}

#header {}

#header h2 {
    color: #2F3F60;
    margin-bottom: 20px;
    margin-top: 20px;
}

#location-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.location-cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 4px;
    width: 220px;
    height: 160px;
    padding: 24px;
    margin: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location-cards img {
    height: 40px;
    margin-bottom: 8px;
}

.location-cards h3 {
    color: #2F3F60;
}

.location-cards p {
    color: #2F3F60;
}


/* Responsive css */

@media screen and (max-width: 1030px) {
    .hero-section img {
        height: 300px;
    }
    .hero-section {
        height: 440px;
    }
    /* <----About section-------> */
    #about-text h3 {
        font-size: 28px;
    }
    #about-text p {
        font-size: 14px;
    }
}

@media screen and (max-width: 946px) {
    .hero-section img {
        height: 250px;
    }
    .hero-section {
        height: 370px;
    }
    /* <----About section-------> */
    #about {
        padding: 56px 72px;
    }
    #about-img img {
        height: 200px;
    }
    #about-text {
        padding: 12px 12px 48px 32px;
        margin-left: 0px;
    }
    #about-text h3 {
        font-size: 24px;
    }
    #about-text p {
        font-size: 12px;
    }
    #A-numbers {
        width: 210px;
    }
    .A-number-all {
        margin: 0px 6px;
        text-align: center;
    }
    .A-number-all h4 {
        font-size: 10px;
    }
    .A-number-all h5 {
        font-size: 14px;
    }
    /* <--why-us-section--------------> */
    #why-us-continer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .ws-continer1-items {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        /* border: 2px solid red; */
        justify-content: left;
        margin-right: 32px;
    }
    .ws-continer1 {
        margin: 0px;
    }
    .ws-continer2 {
        margin: 0px;
    }
    .ws-continer1 .item-svg img {
        margin-right: 16px;
    }
}

@media screen and (max-width: 770px) {
    .hero-section img {
        height: 200px;
    }
    .hero-section {
        height: 320px;
    }
    /* <----About section-------> */
    #about {
        padding: 48px 56px;
    }
    #about-img img {
        height: 120px;
    }
    #about-text {
        padding: 8px 8px 32px 24px;
        margin-left: 0px;
    }
    #about-text h3 {
        font-size: 12px;
    }
    #about-text p {
        font-size: 8px;
    }
    #A-numbers {
        width: 160px;
    }
    .A-number-all {
        margin: 0px 4px;
        text-align: center;
    }
    .A-number-all h4 {
        font-size: 6px;
    }
    .A-number-all h5 {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .hero-section img {
        height: 150px;
    }
    .hero-section {
        height: 270px;
    }
    #location {
        margin: 48px 72px;
    }
}

@media screen and (max-width: 470px) {
    .hero-section img {
        height: 100px;
    }
    .hero-section {
        height: 220px;
    }
    #about {
        padding: 32px 48px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    #about-text button span i {
        display: none;
    }
}


/* Responsive css */


/* <--client---> */
#our-client{
    background-color: #EBEDF6;
}
#our-client h2{
    padding: 16px;
    color: #2F3F60;
    text-align: center;
}